<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Mensajería</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                @Html.ActionLink("Inicio", "MainView")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Ingresar contacto", "Create")
            </li>
            <li class="nav-item">
                @Html.ActionLink("Lista de contactos", "Index")
            </li>
        </ul>
    </div>
</nav>