
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Inicio";
}


<div class="text-center">
    <div style="padding:25px;">
        <img src="~/Images/ContactManagement.jpg"  width="400" />
    </div>
</div>
